# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [22]:
cities_df = pd.read_csv("output/cities.csv")
cities_df

,City_ID,city_id,city_name,latitude,longitude,temp,humidity,cloudiness,wind_speed,country,date
0,0,3464724,Tuktoyaktuk,69.45,-133.04,-31.00,73,5,8.05,CA,1609466674
1,1,3464724,Colac,-38.33,143.58,73.99,78,32,4.00,AU,1609466405
2,2,3464724,Broken Hill,-31.95,141.43,86.00,35,40,8.05,AU,1609466674
3,3,3464724,Tataouine,32.93,10.45,42.80,48,100,2.64,TN,1609466674
4,4,3464724,Katsuura,35.13,140.30,50.00,40,0,5.99,JP,1609466675
...,...,...,...,...,...,...,...,...,...,...,...
568,568,3464724,Kaeo,-35.10,173.78,69.10,72,71,7.92,NZ,1609466779
569,569,3464724,Gornopravdinsk,60.05,69.90,-26.84,85,0,3.85,RU,1609466779
570,570,3464724,Brewster,41.40,-73.62,35.60,59,40,3.36,US,1609466779
571,571,3464724,Sulina,45.16,29.65,50.16,91,0,12.64,RO,1609466780
572,572,3464724,Diamantino,-14.41,-56.45,76.73,74,12,3.56,BR,1609466780

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [23]:
# Store latitude and longitude in locations
locations = cities_df[['latitude', 'longitude']]
humidity = cities_df["humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [24]:
# create a new DataFrame fitting weather criteria.  Used weather_df
# Narrow down the cities to fit weather conditions
# Drop any rows will null values

weather_df= cities_df.loc[(cities_df["temp"] < 80) & (cities_df["temp"] > 70)\
                               & (cities_df["wind_speed"]<10)\
                               & (cities_df["cloudiness"] ==0)].dropna()

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [36]:
#store variable into the Hotel_df
hotel_df=weather_df[["city_name","country","latitude","longitude"]].copy()

In [37]:
# add a column called Hotel to weather dataframe
hotel_df["Hotel Name"] = ""
hotel_df

                       city_name country  latitude  longitude Hotel Name
18                    Vila Velha      BR    -20.33     -40.29
41                     Busselton      AU    -33.65     115.33
66                        Matata      NZ    -37.88     176.75
113                         Diré      ML     12.28     -10.97
158                        Kayes      ML     14.00     -11.00
172                       Niamey      NE     13.51       2.11
179                   São Filipe      CV     14.90     -24.50
207                       Mattru      SL      7.62     -11.83
227              Benjamín Aceval      PY    -24.97     -57.57
264                      Kuntaur      GM     13.67     -14.88
266         Makkah al Mukarramah      SA     21.43      39.83
304                    Geraldton      AU    -28.77     114.60
396                    Caravelas      BR    -17.71     -39.25
410                      Angoche      MZ    -16.23      39.91
413                       Bonthe      SL      7.53     -12.51
446                       Sokolo      ML     14.73      -6.12
451                      Ouallam      NE     14.32       2.09
462                      Conakry      GN      9.54     -13.68
471                     Canutama      BR     -6.53     -64.38
491              Lázaro Cárdenas      MX     17.96    -102.20
510                     Januária      BR    -15.48     -44.37
522           Barra de Tecoanapa      MX     16.52     -98.75
536  Doctor Juan León Mallorquín      PY    -25.40     -55.27

In [38]:
# set parameters to search for hotels

params = {
    "radius" : 5000,
    "types" : "lodging",
    "key" : g_key
}

In [43]:
# loop through for hotels

for index, row in hotel_df.iterrows():
    
    # get lat, lng from df
    
    lat = row["latitude"]
    lng = row["longitude"]

   
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and our lat/lng
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request and print url
    
    name_address = requests.get(base_url, params=params)

    #convert to json
    name_address = name_address.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        
    except (KeyError, IndexError):
        
        print("Missing field/result... skipping.")
              
hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

,city_name,country,latitude,longitude,Hotel Name
18,Vila Velha,BR,-20.33,-40.29,Hotel Vitória Palace
41,Busselton,AU,-33.65,115.33,Observatory Guest House
66,Matata,NZ,-37.88,176.75,paradise cabins
113,Diré,ML,12.28,-10.97,
158,Kayes,ML,14.00,-11.00,
172,Niamey,NE,13.51,2.11,Soluxe Hotel Niamey
179,São Filipe,CV,14.90,-24.50,Tortuga B&B
207,Mattru,SL,7.62,-11.83,"Mondkor Town, Bagbo Chiefdom, Bo District"
227,Benjamín Aceval,PY,-24.97,-57.57,Escuela Agrícola y Hotel Cerrito
264,Kuntaur,GM,13.67,-14.88,Kairoh Garden Kuntaur
266,Makkah al Mukarramah,SA,21.43,39.83,"Makkah Clock Royal Tower, A Fairmont Hotel"
304,Geraldton,AU,-28.77,114.60,Broadwater Mariner Resort
396,Caravelas,BR,-17.71,-39.25,Pousada dos Navegantes
410,Angoche,MZ,-16.23,39.91,Guest House HESADA
413,Bonthe,SL,7.53,-12.51,Bonthe Holiday Village
446,Sokolo,ML,14.73,-6.12,
451,Ouallam,NE,14.32,2.09,
462,Conakry,GN,9.54,-13.68,Riviera Royal Hotel
471,Canutama,BR,-6.53,-64.38,Hotel Jhennifer
491,Lázaro Cárdenas,MX,17.96,-102.20,Collection O Hotel Quinta Antigua
510,Januária,BR,-15.48,-44.37,Hotel Paraguassu
522,Barra de Tecoanapa,MX,16.52,-98.75,Hotel Manglares
536,Doctor Juan León Mallorquín,PY,-25.40,-55.27,Hotel Puma S.A.

In [47]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city_name}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [49]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))